@using Netflix.Model;

@{
    ViewData["Title"] = "About";
    Pelicula pelicula = (Pelicula) ViewData["pelicula"];
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@pelicula.Id @pelicula.Nombre
